

.contact_hr{
    width: 60%;
}
#subcontent{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
#contact{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;

}
.grid_item{
    position: relative;
    margin: 20px;
    border: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-position: center;
    background-size: cover;

}

.icon{
    opacity: .5;
    height: 70px;
    width: 70px;
    border-radius: 45px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    padding: 10px;
    display: block;
    margin: 5px auto 5px auto;
}
.icon:hover{
    opacity: .6;
}
#github{
    background: url('../includes/images/icons/github.png') center no-repeat;
    background-size: 90%;
}
#linked_in{
    background: url('../includes/images/icons/linked_in.png') center no-repeat;
    background-size: 65%;
}
#facebook{
    background: url('../includes/images/icons/facebook.png') center no-repeat;
    background-size: 90%;
}
#pinterest{
    background: url('../includes/images/icons/pinterest.png') center no-repeat;
    background-size: 80%;
}
#email{
    width: 350px;
    background-color: rgba(0,0,0,.6);
}
#other{
    width: 150px;
    padding: auto;
}