
#Text{
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 50px;
}

#Languages{
    width: 80%;
    margin-left: 10%;
}
#Languages h1{
    margin-bottom: 30px;
}
#Languages p{
    font-size: 20px;

}
#ID-Me{
    margin-top: 40px;

}
#ID-Me img{
    height: 300px;
    border-radius:15px;
}
#ID-Me hr{
    width: 350px;
    margin: 0 auto;
}
#Courses{
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    padding-bottom: 50px;
}
#Courses h1{
    font-size: 35px;
}

#grid{
    width: 80%;
    margin-left: 10%;
    padding-bottom: 50px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.gridContent{
    font-size: 20px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 20px;
    width: 100px;
    font-weight: 900;
}
#coursesGrid{
    padding-bottom: 30px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.coursesContent{
    font-weight: 900;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    height: 20px;
}