.category{
    width: 80%;
    margin: 0 auto;
}
#list{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.list_option{
    margin: 30px;
    cursor: pointer;
    cursor: hand;
}
.selected_list{
    text-decoration: underline;
}
.list_option:hover{
    color: #a6a2a0;
}
.grid{
    opacity:0;
    display: none;
    width: 90%;
    margin-left: 5%;
    overflow:hidden;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;

}
.selected{
    opacity:1;
    display: -webkit-flex;
    display: flex;

}
.grid_item{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
    border: none;
    font-size: 0;
    background-color: rgba(0,0,0,.5);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.grid_item:hover{
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
    cursor: hand;
}
.grid_item h3{
    font-size: 16px;
    height: 16px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px;
    color: white;
}
.grid_item h4{
    position: absolute;
    top: 60%;
    width: 100%;
    font-size: 0;
    opacity:0;

}
.grid_item:hover h4 {
    opacity:1;
    color: rgb(150,150,150);
    font-size: 13px;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}