
#myName{
    font-size: 40px;
    opacity: 1;
}
#underName{
    width: 60%;
}
#welcome h2{
    margin-top: -15px;
    opacity: 1;
}
#welcome h3{
    opacity: 1;
}
#contactButtons{

}
#contactButtons img{
    width:15%;
    max-width: 120px;
    margin-top: 5%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#contactButtons img.selected{
    width: 20%;
    max-width: 160px;
    margin-top: 0;
}
#sections{
    margin-top: 20px;
    max-width: 700px;
    margin-left: -350px;
    left: 50%;
    position: relative;
    margin-bottom: 600px;
}

/*Section standard code*/
#linkedInSection,#githubSection,#emailSection, #pinterestSection,#facebookSection{
    height: 0;
    width: 0;
    top: 0;
    background: rgba(50,50,50,.2);
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 20px;
    overflow-y: hidden;
}

/*Selected Section Standard code*/
#linkedInSection.selected,#githubSection.selected,#emailSection.selected, #pinterestSection.selected,#facebookSection.selected{
    height: 600px;
    width: 100%;
    position: absolute;
    -webkit-transition: all 1s .2s;
    -moz-transition: all 1s .2s;
    -o-transition: all 1s .2s;
    transition: all 1s .2s;
}
.arrow-up{
    border: 0px solid rgba(0,0,0,0);
    position: absolute;
}
.selected .arrow-up{
    width: 0px;
    height: 0;
    -webkit-transition: all 1s .2s;
    -moz-transition: all 1s .2s;
    -o-transition: all 1s .2s;
    transition: all 1s .2s;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(50,50,50,.2);
}

/*Non selected Section, Specific Code*/
#linkedInSection{
    left: 12%;
    z-index: 0;
    font-size: 0;
}
#githubSection{
    left: 33%;
    z-index: 0;
    font-size: 0;
}

#emailSection{
    right: 50%;
    z-index: 0;
    font-size: 0;
    height: 0;
}
#facebookSection {
    right: 33%;
    z-index: 0;
    font-size: 0;
}
#pinterestSection{
    right: 12%;
    z-index: 0;
    font-size: 0;
}

/*Selected Section Specific Code.*/
#linkedInSection.selected{
    left: 0;
    z-index: 1;
    font-size: inherit;
}
#githubSection.selected{
    left: 0;
    z-index: 1;
    font-size: inherit;
}

#emailSection.selected{
    right: 0;
    z-index: 1;
    font-size: inherit;
}
#facebookSection.selected{
    right: 0;
    z-index: 1;
    font-size: inherit;
}
#pinterestSection.selected{
    right: 0;
    z-index: 1;
    font-size: inherit;
}

/*Non Selected Section Specific Code*/
#linkedInSection .arrow-up{
    left: 14.5%;
    margin-left: -20px;
    margin-top: 0;
}
#githubSection .arrow-up{
    left:32.5%;
    margin-left: -20px;
    margin-top: 0;
}

#emailSection .arrow-up{
    right: 50%;
    margin-right: -20px;
    margin-top: 0;
}
#facebookSection .arrow-up{
    right: 32.5%;
    margin-right: -20px;
    margin-top: 0;
}

#pinterestSection .arrow-up{
    right: 14.5%;
    margin-right: -20px;
    margin-top: 0;
}

/*Selected Section Specific Code*/
#linkedInSection.selected .arrow-up{
    left: 14.5%;
    margin-left: -20px;
    margin-top: -20px;
}
#githubSection.selected .arrow-up{
    left:32.5%;
    margin-left: -20px;
    margin-top: -20px;
}

#emailSection.selected .arrow-up{
    right: 50%;
    margin-left: -20px;
    margin-top: -20px;
}
#facebookSection.selected .arrow-up{
    right: 32.5%;
    margin-right: -20px;
    margin-top: -20px;
}

#pinterestSection.selected .arrow-up{
    right: 14.5%;
    margin-right: -20px;
    margin-top: -20px;
}

/*Non Selected Section Content Specific Code*/
#linkedInSection{

}
#githubSection{

}
#emailSection #contactForm{
    opacity: 0;
    pointer-events: none;
}
#pinterestSection {

}
#facebookSection{

}

/*Selected Section Content Specific Code*/
#linkedInSection.selected{

}
#githubSection.selected{

}
#emailSection.selected #contactForm{
    opacity: 1;
    pointer-events: all;
    -webkit-transition: all 1s .2s;
    -moz-transition: all 1s .2s;
    -o-transition: all 1s .2s;
    transition: all 1s .2s;
}
#pinterestSection.selected{

}
#facebookSection.selected{

}
h4,h3,h2,h1,p{
    opacity: 0;
}
.selected h4,.selected h3, .selected h2, .selected h1, .selected p{
    opacity: 1;
    -webkit-transition: opacity 1s .4s;
    -moz-transition: opacity 1s .4s;
    -o-transition: opacity 1s .4s;
    transition: opacity 1s .4s;
}
.selected #contactForm input{
    /*margin-left: 5%;*/
    margin-bottom: 10px;
    width:300px;
    display: block;
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,.9);
    font-size: 20px;
    font-family: "My Custom Font", Verdana, Tahoma, sans-serif;

}
.selected #subjectInput,.selected #nameInput,.selected #emailInput{
    margin-left: 5%;
}
.selected #emailInfo{
    position: absolute;
    right: 5%;
    width: 40%;
    -webkit-transition: all 1s -.2s;
    -moz-transition: all 1s -.2s;
    -o-transition: all 1s -.2s;
    transition: all 1s -.2s;
}
#emailInfo h2{
    margin: 0;
}
#contactForm input,#contactForm textarea{
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: width 1s .3s,height 1s .3s, opacity 1s .5s;
    -moz-transition: width 1s .3s,height 1s .3s, opacity 1s .5s;
    -o-transition: width 1s .3s,height 1s .3s, opacity 1s .5s;
    transition: width 1s .3s,height 1s .3s, opacity 1s .5s;
}

.selected #contactForm textarea{
    width: 90%;
    height: 210px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;
    resize: none;
    opacity: 1;

}
.selected #contactForm input{
    opacity: 1;

}
#submitInput{
    width: 0;
    max-width: 100px;
    height: 0;
    opacity: 0;

}
.selected #submitInput{
    margin: 0 auto;
    opacity:1;

}
.selected #submitInput:hover{
    pointer-events: all;
    background-color: rgba(0,0,0,.6);
    cursor: pointer;
    cursor: hand;
}
@media (max-width: 850px){
    #sections{
        left: 5%;
        width: 90%;
        margin-left: 0;
    }
    .selected #contactForm input{
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .selected #emailInfo{
        display: none;
    }
}
#githubUser,#githubRepo{
    height: 0;
    opacity: 0;

}
.selected #githubUser{
    opacity: 1;
    -webkit-transition: all 1s .5s;
    -moz-transition: all 1s .5s;
    -o-transition: all 1s .5s;
    transition: all 1s .5s;

}
.selected #githubRepo{
    opacity: 1;
    margin-top: 190px;
    -webkit-transition: all 1s .5s;
    -moz-transition: all 1s .5s;
    -o-transition: all 1s .5s;
    transition: all 1s .5s;
}
.fb-page{
    position: absolute;
    opacity:0;
    left: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}
.selected .fb-page{
    opacity: 1;
    height: 400px;
    width: 330px;
    pointer-events: all;
    left: 0;
    -webkit-transition: all 1s .8s;
    -moz-transition: all 1s .8s;
    -o-transition: all 1s .8s;
    transition: all 1s .8s;
}
#lIn{
    margin-left: 0;
    margin-top: 70px;
    opacity: 0;
}
.selected #lIn{
    opacity: 1;
    -webkit-transition: all 1s .8s;
    -moz-transition: all 1s .8s;
    -o-transition: all 1s .8s;
    transition: all 1s .8s;
}
#information{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0;
    opacity: 0;
    pointer-events: none;
}
#information h4{
    margin-top: 0px;
}
.selected #information{
    opacity:1;
    pointer-events: all;
}
#information img{
    opacity: 0;
    height: 0;

}
.selected #information img{
    height: 200px;
    opacity:1;
    -webkit-transition: all 1s .5s;
    -moz-transition: all 1s .5s;
    -o-transition: all 1s .5s;
    transition: all 1s .5s;
}
#webdevMe{
    opacity:1;
}
#pinterest{
    width: 0;
    height: 0;
    opacity: 0;
    right: 150px;
}
.selected #pinterest{
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
    opacity: 1;
    -webkit-transition: all 1s .7s;
    -moz-transition: all 1s .7s;
    -o-transition: all 1s .7s;
    transition: all 1s .7s;
}
#follow{
    margin-bottom: 0;
}