.grid{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.grid_item{
    display: inline;
    text-align: center;
    position: relative;
    margin: 20px;
    width: 350px;
    border: 1px solid black;
    padding: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-position: center;
    background-size: cover;

}
.grid_item_small{
    height: 200px;
    width: 200px;
    margin: 10px;
}

.contact_hr{
    width: 60%;
}
#subcontent{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}


