.grid{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
ul{
    margin: 0 auto;
    padding: 0;
}
li{
    list-style: none;
}

#subcontent{
    width: 100%;
    margin: 0 auto;
}

.grid_item{
    display: inline;
    text-align: center;
    position: relative;
    margin: 20px;
    width: 350px;
    border: 1px solid black;
    padding: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-position: center;
    background-size: cover;

}
